extends ../shared/layout
block main-content
    .row
        .text-center
            h2 YouTube Playlist Details
        .col-md-12
            table.table.table-striped.table-bordered
                tr
                    th Title
                    th Description
                    th Category
                    th Type
                    th Date
                    th Created By
                    th Comments
                    th Rated
                    th VideoUrls
                tr
                    td #{playlist.title}
                    td.truncate #{playlist.description}
                    td #{playlist.category}
                    td #{playlist.type}
                    td #{moment(playlist.date).format("MMM-DD-YYYY HH:mm:ss")}
                    td #{playlist.owner.firstName + ' ' + playlist.owner.lastName}
                    td #{playlist.comments}
                    td #{playlist.joined ? 'Yes' : 'No'}
                    td.truncate #{playlist.videoUrl}



