extends ../shared/layout
block main-content
    .row
        .text-center
            h2 Youtube Playlists
        .col-md-12
            table.table.table-striped.table-bordered
                tr
                    th Title
                    th Category
                    th Date
                    th Type
                    th Created By
                    th Rating
                each event in events
                    tr
                        td
                            a(href="/events/#{event._id}") #{event.title}
                        td #{event.category}
                        td #{moment(event.date).format("MMM-DD-YYYY HH:mm:ss")}
                        td #{ event.type}
                        td #{event.owner.firstName + ' ' + event.owner.lastName}
                        script. var rating = Math.floor((Math.random() * 5) + 1);
                        td #{event.rating}


block page-scripts
    script(src="js/sendRequest.js")

